<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ERP.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ERP.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
    <add key="connectionString" value="server=TECXPERT_01-PC\SQL2008; database=TSPLERP; user id=sa; password=tecxpert; Connection Timeout = 3600; Max Pool Size=10000" />
    <!--<add key="connectionString"  value="Server=RANJANA; database=TSPLERP; user id=sa; password=tecxpert ;Connection Timeout = 0; Max Pool Size=10000"/>-->
    <!--<add key="connectionString" value="Server=PANKAJ-PC; database=TSPLERP1; user id=sa; password=tecxpert ;Connection Timeout =0; Max Pool Size=10000"/>-->
    <!--<add key="connectionString" value="Server=PANKAJ-PC; database=TSPLERP; user id=sa; password=tecxpert ;Connection Timeout =0; Max Pool Size=10000"/>-->
    <!--<add key="connectionString"  value="server=122.160.19.42; database=TSPLERP; user id=sa; password=pearl@123;Connection Timeout = 36000; Max Pool Size=10000"/>-->
    <!--<add key="connectionString"  value="server=TSPL-06\SQLEXP; database=TSPLERP; user id=sa; password=tecxpert;Connection Timeout = 3600; Max Pool Size=10000"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Office.Interop.Excel" publicKeyToken="71E9BCE111E9429C" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.WinControls.UI" publicKeyToken="5BB2A467CBEC794E" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2015.1.225.20" newVersion="2015.1.225.20" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Vbe.Interop" publicKeyToken="71E9BCE111E9429C" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="office" publicKeyToken="71E9BCE111E9429C" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.WinControls.GridView" publicKeyToken="5BB2A467CBEC794E" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2015.1.225.20" newVersion="2015.1.225.20" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.WinControls" publicKeyToken="5BB2A467CBEC794E" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2015.1.225.20" newVersion="2015.1.225.20" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ActiveDatabaseSoftware.ActiveQueryBuilder2" publicKeyToken="3CBCBCC9BF57ECDE" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.9.6.720" newVersion="2.9.6.720" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Office.Interop.Outlook" publicKeyToken="71E9BCE111E9429C" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Office.Interop.Excel" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Office.Interop.Outlook" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <userSettings>
    <ERP.My.MySettings>
      <setting name="SessionAlive" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="Company" serializeAs="String">
        <value />
      </setting>
      <setting name="Remember" serializeAs="String">
        <value>False</value>
      </setting>
    </ERP.My.MySettings>
  </userSettings>
  <applicationSettings>
    <ERP.My.MySettings>
      <setting name="DecimalPlaces" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="ERP_BSWS_BSWS" serializeAs="String">
        <value>http://www.businesssms.co.in/WebService/BSWS.asmx</value>
      </setting>
    </ERP.My.MySettings>
  </applicationSettings>
</configuration>